<div class="header d-flex justify-content-between p-3" style="height:60px;">
<h4>Itineraries</h4>
  <%= link_to new_itinerary_path, class: 'add-button' do %>
<h4><i class="fa-solid fa-circle-plus" style="color:white;"></i></h4>
  <% end %>
</div>

<div class="container" style="width:360px; margin-bottom:130px;">
<div class="wrapper" style="margin-top:20px;">
  <span><strong>Upcoming Trips</strong></span>
    <%= render "layouts/ongoing_itinerary_activity_card" %>
  <span><strong>Past Trips</strong></span>
    <%= render "layouts/past_itinerary_activity_card" %>
</div>
</div>

