.home {
  background-image: url("https://res.cloudinary.com/dwpf3efis/image/upload/v1687511372/Banner_big_final_size_delete_if_you_want_to_oesg2u.jpg");
  height: 30vh;
  background-size: cover;
}

.centered{
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  color: white;
  position: absolute;
  top: 13%;
  left: 7%;
}
.secondary{
  color: white;
  position: absolute;
  top: 17%;
  left: 7%;
}
.one{
  border-radius: 5px;
  background-color:#B7D480;
}
.two{
  border-radius: 5px;
  background-color:#FDD984;
}
.three{
  border-radius: 5px;
  background-color:#FFA676;
}
.four{
  border-radius: 5px;
  background-color:#F7574F;
}

#search-card {
    margin-left:10% !important;
}

.test-container {
  padding: 20px 20px;
}
