.form-actions{
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  padding: 5px;
  text-align: center;
  background-color: #F6C522;
  line-height: 20px;
  border-radius: 100px
}
.sign-up-link a{
  color: #524FF7;
}
