<div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
  <h4>Chats</h4>
</div>

<div class="nearby">Travelers nearby</div>
      <% @users.reject { |user| user == current_user }.each do |user| %>
  <div class="chatroom" id="index">
    <div class="user">
    <%= link_to user_path(user) do %>
        <%= image_tag user.photo, class: "profile-picture" if user.photo.attached? %>
    <% end %>
        <%= user.first_name %>
      <% end %>
    </div>
  </div>
