<div class="background">
  <div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
    <h4>Emergency</h4>
  </div>
  <h1>Are you in danger?</h1>
  <div class="centered">
    <button><h2>hold until safe</h2></button>
  </div>
</div>
