
<div class="home"  style="">
  <img src="https://www.thelist.com/img/gallery/difficult-places-for-a-woman-to-travel-alone/intro-1494986335.jpg" alt="">
  <div class="search-home"><%= render "layouts/search_bar_home" %></div>
  <div class="centered">Travel with Confidence.</div>
  <div class="secondary">Explore safely.</div>
  <div class="small"> Learn more ></div>
</div>

<div class="container" style="width:360px;z-index:1;"><%= render "layouts/card_carousel" %></div>
