
<div class="home"  style="">
  <div class="search-home"><%= render "layouts/search_bar_home" %></div>
  <div class="centered">Fearless Explorers.</div>
  <div class="secondary">Women Embracing Secure Travel.</div>
</div>

<%# Move logout button in homepage. Copy and paste this link over to profile %>


<div class="container" style="width:90%;z-index:1;"><%= render "layouts/card_carousel" %></div>
