
<div class="home" style="">
<img src="https://www.thelist.com/img/gallery/difficult-places-for-a-woman-to-travel-alone/intro-1494986335.jpg" alt="">
<div class="search"><%= render "layouts/search_bar" %></div>
<div class="centered">Travel with Confidence.</div>
<div class="secondary">Explore safely.</div>
<div class="small"> Learn more ></div>
</div>
<div class="container" style="width:360px;"><%= render "layouts/card_carousel" %></div>
