.suggestions  {
  display:flex;
  flex-direction: row;
  width: 100px;

}

.suggestions img {
  height: 100px;
  margin-bottom: 10%;
  margin-top:10%;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}
