.navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  height: 80px;

  .icons-container {
    // border-color: red; // do not delete this
    // border-style: solid; // do not delete this
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
  }

  .icon-text-container {
    // border-color: purple; // do not delete this
    // border-style: solid; // do not delete this
    border-width: 2px;
    display: flex;
    width: 62.5px;
    text-align: center;
    flex-direction: column;
    justify-items: center;
  }

  .icon {
    // border-color: pink; // do not delete this
    // border-style: solid; // do not delete this
    border-width: 2px;
    align-self: center;
    font-size: 16px;
  }

  .text {
    // border-color: green; // do not delete this
    // border-style: solid; // do not delete this
    font-size: 10px;
    border-width: 2px;
  }
}

.navbar a {
  color: #222222; // do not delete this
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
