.yellow {
  position:fixed;
  top: 30%;
  bottom: 35%;
  left: 15%;
  right: 15%;
  border-radius:7px;
  z-index: 1;
}

.yellow div {
  margin-top: 10px;
}

.yellow h2 {
  font-size: 16px;
  font-weight: bold;
}
