.search-home{
  padding-top:50px;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 85%;
  text-align: right;
  margin: auto;
  display: table;
  display:block;

  i {
  position:absolute;
  right: 12%;
  top: 60px;
  display:table-cell;
  }
}
