.search-home{
  color: white;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 345px;
  i{
  position:absolute;
  top: 26%;
  left: 4%;
  color: black;
  }
}
