.search-home{
  padding-top:20px;
  margin-bottom: 10px;
  width: 85%;
  text-align: right;
  margin: auto;
  display: table;
  display:block;

  i {
  position:absolute;
  right: 12%;
  top: 30px;
  display:table-cell;
  }
}
