
<div data-controller="search-cities">
    <div class="search-home" >

    <%= render "layouts/search_bar_home" %>

    <p><strong>Top Recommendations</strong></p>

      <div data-search-cities-target="lists">
        <%= render "layouts/card_carousel", cities:@cities %>
      </div>

    </div>


</div>
