
<div class="container" style="width:360px;">
<div class="search-index"><%= render "layouts/search_bar_index" %></div>
<p><strong>Top Recommendations</strong></p>
<%= render "layouts/card_carousel" %>
</div>
