<%# <div data-controller="search-cities">
  <div class="header d-flex justify-content-between p-3 mb-3" style="height:60px;">
    <div class="search-index" style="width:70%;">
      <%= render "layouts/search_bar_home" %>
    <%# </div>
  </div>
  <div class="container itin-index" style="margin-bottom:100px;">
  <p><strong>Top Recommendations</strong></p>
    <div data-search-cities-target="lists">
      <%# <%= render "layouts/card_carousel", cities:@cities %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
