<h2>All your activities</h2>


<% @activities.each do |activity| %>
<div><%= activity.title %></div>
<div><%= activity.category %></div>
<div><%= activity.address %></div>
<div><img src="<%= activity.image_url %>" alt=""></div>
<% end %>


