
<nav class="navbar">

  <div class="icons-container">

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass" style="color: #222222;"></i>
      </div>
      <div class="text">
        <a href="#explore">Explore</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass" style="color: #222222;"></i>
      </div>
      <div class="text">
        <a href="#itinerary">Itinerary</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass" style="color: #222222;"></i>
      </div>
      <div class="text">
        <a href="#Emergency">Emergency</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass" style="color: #222222;"></i>
      </div>
      <div class="text">
        <a href="#Chat">Chat</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass" style="color: #222222;"></i>
      </div>
      <div class="text">
        <a href="#Profile">Profile</a>
      </div>
    </div>

  </div>

</nav>
