
<nav class="navbar">

  <div class="icons-container">

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="text">
        <a href="#explore">Explore</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-regular fa-heart"></i>
      </div>
      <div class="text">
        <a href="#itinerary">Itinerary</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-regular fa-bell"></i>
      </div>
      <div class="text">
        <a href="#emergency">Emergency</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-regular fa-message"></i>
      </div>
      <div class="text">
        <a href="#chat">Chat</a>
      </div>
    </div>

    <div class="icon-text-container">
      <div class="icon">
        <i class="fa-regular fa-user"></i>
      </div>
      <div class="text">
        <a href="#profile">Profile</a>
      </div>
    </div>

  </div>

</nav>
